{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background: url(https://365psd.ru/images/backgrounds/leather_light.jpg) }
</style>
<h1><b>Карты</b></h1>
<a href="/" class="btn btn-secondary">Вернуться</a>
<a href="cards" class="btn btn-success">Добавить карту</a>
<h1></h1>
<style>
    p {
        font-size: 15px
    }
</style>

<a href="/reload_cards_balance" class="btn btn-info">Пересчетать баланс карт</a>
<p>Если баланс расходится с истинным, пересчетайте его</p>

<h1></h1>
{% for item in cards%}
<div class="col-md6 border rounded">

    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата создания - {{ item.created_date.strftime('%d/%m/%Y') }}
    </div>
    <div>
        <b>Остаток: {{ item.balance }} руб</b>
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/cards/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/cards_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        <h1></h1>
    </div>
{% endif %}
</div>
<h1></h1>
{% endfor %}
{% endblock %}