{% extends "base.html" %}

{% block content %}
        {% if current_user.is_authenticated %}
                <h1><b> Справочники </b></h1>
                <a href="cards" class="btn btn-secondary">Добавить карту</a>
                <h1></h1>
                <a href="type_operation" class="btn btn-secondary">Внести изменения в типы операций</a>
                <h1></h1>
                <a href="owner_money" class="btn btn-secondary">Внести изменения в owner money</a>
                <h1></h1>
                <a href="resource" class="btn btn-secondary">Внести изменения в resource</a>


                <h1><b>Таблицы</b></h1>
                <a href="cards_table" class="btn btn-secondary">Карты</a>
                <h1></h1>
                <a href="type_operation_table" class="btn btn-secondary">Типы операций</a>
                <h1></h1>
                <a href="owner_money_table" class="btn btn-secondary">Owner money</a>
                <h1></h1>
                <a href="resource_table" class="btn btn-secondary">Resource</a>
                <h1></h1>

        {% else %}
                <h1><b>Добро пожаловать</b></h1>
                <h2>Зарегистрируйтесь, чтобы начать работу</h2>
        {% endif %}
{% endblock %}