{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background: url(https://365psd.ru/images/backgrounds/leather_light.jpg) }
</style>
<h1><b>Операции</b></h1>
<a href="/" class="btn btn-secondary">Вернуться</a>
<a href="operations" class="btn btn-success">Добавить операцию</a>
<h1></h1>
{% for item in operations[::-1]%}
<div class="col-md6 border rounded">
    <h2></h2>
    {% for i in type_operation %}
        {% if i.id == item.type_operation_id %}
    <div>
        <h4><b>{{ i.title }}</b></h4>
        <h6>{{ i.content }}</h6>
    </div>
    {% endif %}
    {% endfor %}
        <div>
        Дата операции: {{ item.create_date }}
    </div>
    <h2></h2>
    {% for sub_oper in sub_operation %}
    {% for card in cards %}
    {% if sub_oper.id_cards == card.id and sub_oper.id_operation == item.id %}
    <div>
        Карта - {{ card.title }}
        <h2></h2>
        Примечание: {{ card.content }}
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    <h2></h2>
    <div>
        Автор - {{item.user.name}}
    </div>
    <h1></h1>
    {% for sub_oper in sub_operation %}
    {% if sub_oper.id_operation == item.id %}
    <div>
        <font color="#00AF00"><b>Приход: {{ sub_oper.prihod }} руб</b></font>
        <h4></h4>
        <font color="red"><b>Расход: {{ sub_oper.rashod }} руб</b></font>
    </div>
    {% endif %}
    {% endfor %}
    <h1></h1>
        {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/operations/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/operations_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        <h1></h1>
    </div>
{% endif %}
</div>
<h1></h1>
{% endfor %}
{% endblock %}