{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background: url(https://365psd.ru/images/backgrounds/leather_light.jpg); }
</style>
<h1><b>Операции</b></h1>
<a href="/" class="btn btn-secondary">Вернуться</a>
<a href="operations" class="btn btn-success">Добавить операцию</a>
<h5>Фильтры</h5>
<form action="PageObjects" method="post">
    Дата
  <select>
    <option selected="selected" disabled>Objects on page:</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
  </select>Тип операций
<select>
    <option>Нет</option>
    <option>Приход</option>
    <option>Расход</option>
</select>
Карты
<select>
    <option>Нет</option>
    <option>111</option>
    <option>Расход</option>
</select>
    <h1></h1>
  <input type="submit" value="Применить">
</form>
<h1></h1>
{% for item in operations %}
<div class="col-md6 border rounded">
    <h2></h2>
    {% for i in type_operation %}
        {% if i.id == item.type_operation_id %}
    <div>
        <b>Операция:</b> <u>{{ i.title }}</u>;
        {% if item.content %}
         <b>Примечание:</b>
        <u>{{ item.content }}</u>
        {% endif %}
    {% endif %}
    {% endfor %}
            <b>Дата операции:</b> <u>{{ item.created_date }}</u>
            <b>Пользователь:</b> <u>{{item.user.name}}</u>
    {% for sub_oper in sub_operation %}
    {% for card in cards %}
    {% if sub_oper.id_cards == card.id and sub_oper.id_operation == item.id %}
        <b>Карта:</b> <u>{{ card.title }}</u>
        {% if card.content %}
        <b>Примечание:</b> <u>{{ card.content }}</u>;
        {% endif %}
        <div>
                <font color="#00AF00"><b>Приход: {{ sub_oper.prihod }} руб </b></font>
        <font color="red"><b>Расход: {{ sub_oper.rashod }} руб</b></font>
                <a href="/operations/{{ item.id }}" class="btn btn-warning btn-sm">
            Изменить
        </a>
        <a href="/operations_delete/{{ item.id }}" class="btn btn-danger btn-sm ">
            Удалить
        </a>
        </div>
        <h1></h1>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% for sub_oper in sub_operation %}
    {% if sub_oper.id_operation == item.id %}
        {% if item.content %}
        Примечание по операции: {{ item.content }}
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <h1></h1>
        {% if current_user.is_authenticated and current_user == item.user %}
    </div>
{% endif %}
</div>
<h6></h6>
{% endfor %}
{% endblock %}