{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background-color: white }
        p1 { color: red }
</style>
<h1>{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date_time.label }}<br>
        {{ form.date_time(class="form-control") }}<br>
        {% for error in form.date_time.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if form.type_operation %}
    <p>
        {{ form.type_operation.label }}<br>
        {{ form.type_operation(class="form-control") }}<br>
        {% for error in form.type_operation.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    <font color="red"><b>{{ my_mess }}</b></font>
    </p>
    {% else %}
    <select>
        Нет добавленных типов операции
    </select>
    {% endif %}
        <p>
        {{ form.card.label }}<br>
        {{ form.card(class="form-control") }}<br>
        {% for error in form.card.errors %}
            <p1 content="alert alert-danger" role="alert">
                <b>{{ error }}</b>
            </p1>
        {% endfor %}
            <font color="red"><b>{{ my_mess1 }}</b></font>
    </p>
        <p>
        {{ form.sum.label }}<br>
        {{ form.sum(class="form-control") }}<br>
        {% for error in form.sum.errors %}
            <p1 content="alert alert-danger" role="alert">
                <b>{{ error }}</b>
            </p1>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
    <a href="/operations_table" class="btn btn-secondary">Отмена</a>
    {{message}}
</form>
{% endblock %}