{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background: url(https://365psd.ru/images/backgrounds/leather_light.jpg) }
</style>
<h1><b>Типы ресурсов</b></h1>
<a href="/" class="btn btn-secondary">Вернуться</a>
<a href="resource" class="btn btn-success">Добавить источник</a>
<h1></h1>
{% for item in resource[::-1] %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}
    </div>
            {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/resource/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/resource_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        <h1></h1>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}