{% extends "base.html" %}

{% block content %}
    <style>
        body { background: url(https://365psd.ru/images/backgrounds/wood-texture-124.jpg); }
        div { background: url(https://365psd.ru/images/backgrounds/leather_light.jpg) }
</style>
<h1><b>Типы операций</b></h1>

<txt>1 - Приход</txt>
<h1></h1>
<txt>2 - Расход</txt>
<h1></h1>
<txt>3 - Универсал</txt>
<h1></h1>
<a href="." class="btn btn-secondary">Вернуться</a>
<a href="type_operation" class="btn btn-success">Добавить тип операции</a>
<h1></h1>
{% for item in type_operation[::-1]%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, тип - {{ item.type_operation }}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/type_operation/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/type_operation_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
        <h1></h1>
    </div>
{% endif %}
</div>
<h1></h1>
{% endfor %}
{% endblock %}
